<div class="card-body">
	<h5 class="card-title">
			<%= link_to deal.title, deal_path(deal), class: "text-success" %>
	</h5>
	<p class="card-text">
			<%= truncate(deal.description, length: 100) %>
	</p>
	<p class="card-text"><em><b>Price: </b></em>₹ <%= deal.price %></p>
	<p class="card-text"><em><b>Discount: </b></em>₹ <%= get_discount_price(deal.price.to_f, deal.discount.to_f) %></p>
	<p class="card-text"><em><b>Quantity: </b></em><%= deal.quantity %></p>
	<p class="card-text"><em><b>Publish date: </b></em><%= deal.publish_date.strftime("%a, #{deal.publish_date.day.ordinalize} %b %Y") %></p>
	<p class="card-text"><em><b><%= image_tag(deal.image, style: "width: 100px") %></p>
	<%= link_to "Buy", sell_product_path(id: deal.id), class: "btn btn-outline-success", :data => {:confirm => 'Are you sure?'} if deal.quantity > 0 and deal.is_already_purchased?(current_user) %>
	<%= link_to "View", deal_path(deal), class: "btn btn-outline-success" %>
	<% if logged_in? && (deal.user == current_user || current_user.admin?) %>
			<%= link_to "Edit" , edit_deal_path(deal), class: "btn btn-outline-info" %>
			<%= link_to "Delete" , deal_path(deal), method: :delete,
									class: "btn btn-outline-danger" , data: {confirm: "Are you sure ?" }%>
	<% end %>
</div>
<div class="card-footer text-muted">
		Published before <%= time_ago_in_words(deal.created_at) %> ago,
		Edited <%= time_ago_in_words(deal.updated_at) %> ago
</div>