<div class="card-body">
	<h5 class="card-title">
			<%= link_to deal.title, deal_path(deal), class: "text-success" %>
	</h5>
	<p class="card-text">
			<%= truncate(deal.description, length: 100) %>
	</p>
	<p class="card-text">Price: <%= deal.price %></p>
	<p class="card-text">Discount: <%= deal.discount %></p>
	<p class="card-text">Quantity: <%= deal.quantity %></p>
	<p class="card-text">Publish date: <%= deal.publish_date %></p>
	<p class="card-text">Image: <%= deal.image %></p>
	<%= link_to "View" , deal_path(deal), class: "btn btn-outline-success" %>
	<% if logged_in? && (deal.user == current_user || current_user.admin?) %>
			<%= link_to "Edit" , edit_deal_path(deal), class: "btn btn-outline-info" %>
			<%= link_to "Delete" , deal_path(deal), method: :delete,
									class: "btn btn-outline-danger" , data: {confirm: "Are you sure ?" }%>
	<% end %>
</div>
<div class="card-footer text-muted">
		Published before <%= time_ago_in_words(deal.created_at) %> ago,
		Edited <%= time_ago_in_words(deal.updated_at) %> ago
</div>