<div class="container">
	<div class="row justify-content-center">
		<div class="col-10">
			<%= render 'shared/errors', obj: @deal %> 
			<%= form_with(model: @deal, class: "shadow p-3 mb-3 custom-bg rounded", local: true) do |f|%>
					<div class="form-group row mt-2">
						<%= f.label :title, class: "col-2 col-form-label" %>
						<div class="col-10">
								<%= f.text_field :title, class: "form-control shadow rounded", placeholder: "Title of deal", required: true %>
						</div>
					</div>

					<div class="form-group row mt-2">
						<%= f.label :description, class: "col-2 col-form-label" %>
						<div class="col-10">
							<%= f.text_area :description, rows: 10, class: "form-control shadow rounded", placeholder: "Description of deal", required: true %>
						</div>
					</div>
					<div class="form-group row mt-2">
						<%= f.label :price, class: "col-2 col-form-label" %>
						<div class="col-10">
							<%= f.number_field :price, min: 1, class: "form-control shadow rounded", placeholder: "Price of product", onchange: "this.value = validateUserInputPrice(this)", required: true %>
						</div>
					</div>
					<div class="form-group row mt-2">
						<%= f.label :discount, class: "col-2 col-form-label" %>
						<div class="col-10">
							<%= f.number_field :discount, min: 0, max: 100, class: "form-control shadow rounded", placeholder: "Enter Discount in percentage", onchange: "this.value = validateUserInputAmount(this)", required: true %>
						</div>
					</div>


					<div class="form-group row mt-2">
						<%= f.label :quantity, class: "col-2 col-form-label" %>
						<div class="col-10">
							<%= f.number_field :quantity, min: 0, class: "form-control shadow rounded", placeholder: "Quantity of deal", onchange: "this.value = validateUserInputAmount(this)", required: true %>
						</div>
					</div>


					<div class="form-group row mt-2">
						<%= f.label :publish_date, class: "col-2 col-form-label" %>
						<div class="col-10">
							<%= f.date_field :publish_date, min: Date.today + 1, class: "form-control shadow rounded", placeholder: "Publish date of deal", required: true %>
						</div>
					</div>


					<div class="form-group row mt-2">
						<%= f.label :image, class: "col-2 col-form-label" %>
						<div class="col-10">
							<%= f.file_field :image, class: "form-control shadow rounded", placeholder: "Image of product", required: true %>
						</div>
					</div>

					<div class="text-center mt-3">
							<%= f.submit class: "btn btn-outline-light btn-lg" %>
					</div>
			<% end %>
		</div>
				
		<div class="text-center mt-3 mb-3">
			<%= link_to "[ Cancel and return to deals listing ]", deals_path, class: "text-info cancel-btn" %>
		</div>
  </div>
</div>

<script>
	function validateUserInputAmount(event) {
		return (Math.abs(event.value).toFixed(2) > 100 ? 100 : Math.abs(event.value).toFixed(2));
	}
	function validateUserInputPrice(event) {
		return (Math.abs(event.value).toFixed(2) < 0 ? 0 : Math.abs(event.value).toFixed(2));
	}
</script>